.metadata/                                                                                                                                  
.idea/
/**/target/
/**/tmp/
/**/logs/
/**/out/
/fronts/**/node_modules
/fronts/**/dist
/**/.project
/**/.classpath
/**/.settings
/**/*.iml
/*/**/.gitignore
/*.ipr
/*.iws
/**/*.log
/**/*.versionsBackup